<div class="welcome">
  <h1 class="p-welcome">Welcome To Lotta ¢oin</h1>

  <!-- <div class="frame">
    <h1>Welcome To Lotta Coin</h1>
  </div> -->

  <a href="/coins" id="button">
    Get Started
    <i></i>
  </a>
</div>
