<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Price alert for <%= @user.name %>!</h1>
    <p>The target price has reached >> ( target price )  recently)!</p>
  </body>
</html>
