// Place all the styles related to the coins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #4a4c4f !important
}

// Mobile
@media only screen and (max-width: 900px) {
   .no-mobile {
     display: none;
   }
   .search-form {
     width: 90% !important;
   }
 }

// Large Screens
@media only screen and (min-width: 901px) {
  .large {
    display: none;
  }
}

.search-form {
  width: 40%;
  margin: 0 auto;
}

.search-container {
  width: 490px;
  display: block;
  margin: 0 auto;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease;
  	 opacity: 0;
     }
   }
 }

.search-icon {
  width: 20px;
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
}

.alert {
  width: 39%;
  padding-bottom: 15px;
  margin: 0 auto;
}

.navbar {
  margin-bottom: 50px;
}

.navbar-brand {
  color: #fdf1d2;
  text-shadow: 0 0 10px #fdf1d2;
}
.navbarDropdown {
  float: left !important;
}

.dropdown-menu.show {
  background-color: #4a4c4f;
}

.dropdown-menu.show > a {
  color: #fff;
}

.dropdown-menu.show > a:hover {
  color: #000;
}

.search {
  margin-bottom: 50px;
}

.fa-search {
  margin-bottom: -30px;
  font-size: 13px;
  margin-left: 26px;
}

.col > .btn-primary {
  height: 45px !important;
}

table {
  box-shadow: 0 0 40px #fdf1d2;
}

.price {
  color:green;
}

.lowprice {
  color:red;
}

.btn-success {
  background-color: #59a565 !important;
  border-color: #59a565;
}

.footer {
  position: relative;
  text-align: center;
  background-color: #4a4c4f;
  padding-top: 14px;
  padding-bottom: 20px;
  color: #919192;
}
.footer > a {
  color: #919192;
}

.hidden {
  display: none;
}
