// Place all the styles related to the coins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.price {
  color:green;
}

.lowprice {
  color:red;
}

.footer {
  position: relative;
  text-align: center;
  background-color: #001219;
  padding-top: 14px;
  padding-bottom: 20px;
  color: #919192;
}
.footer > a {
  color: #919192;
}

.logo {
  width: 30px;
}
