// Place all the styles related to the CoinsUsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
  text-align: center;
  color: #fff !important;
  font-size: 27px;
  padding-bottom: 37px;
}
