<footer class="footer">
  <div class="footer-copyright">
    <div class="container-fluid">
        &copy 2018 Copyright: <a href="https://www.cryptocompare.com" target="_blank">CryptoCompare.com </a>
    </div>
  </div>
</footer>
