<!-- This is a button that is linked to sending a txt message to the number set to -->
<h1>This is a button that sends a txt message</h1>
<%= button_to "Send Txt", action: "tracker", controller: "twl"  %>
